<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KW CALENDAR WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="icon" type="image/png" href="/static/images/Icon.png">
    <style>
    </style>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">
    <!-- Header -->
    <section id="header">
        <div class="container">
            <nav id="nav">
                <ul>
                    <li><a class="icon solid fa-home" href="/kw"><span>Introduction</span></a></li>
                    <li><a class="icon solid fa-cog" href="/kw/zoom_link"><span>Zoom Link</span></a></li>
                    <li><a class="icon solid fa-retweet" href="/kw/major_site"><span>My major Site</span></a></li>
                    <li><a class="icon solid fa-retweet" href="/kw/alarm"><span>Alarm</span></a></li>
                    <li><a class="icon solid fa-sitemap" href="/kw/calendar"><span>Calendar</span></a></li>
                    <li><a class="icon solid fa-sitemap" href="/kw/login"><span>Login</span></a></li>
                </ul>
            </nav>
            <!-- Logo -->
           <h1 id="logo"><a  href="/kw">KW CALENDAR WEB</a></h1><br>
            <MARQUEE behavior="scroll", scrollamount="15">교내 온라인강의 사이트를 개선하고자 만든 프로젝트입니다. 광운대학교 KLAS에서 사용하는 주요 기능을 한데 모아 더욱 편리하게 이용할 수 있는 사이트입니다. 마음껏 사용해보세요.</MARQUEE>

        </div>
    </section>

    <section id="main">
        <div class="container">
            <div id="alarm" style="text-align: center">
                <h2 id="task-list"></h2>
                <form id="task-form" action="alarm.html">
                    <label for="title">수강 과목 </label><input type="text" id="title" required>
                    <br>
                    <label for="deadline-months">월 </label>
                    <select name="deadline-months" id="deadline-months">
                        <option value="1월">1</option>
                        <option value="2월">2</option>
                        <option value="3월">3</option>
                        <option value="4월">4</option>
                        <option value="5월">5</option>
                        <option value="6월">6</option>
                        <option value="7월">7</option>
                        <option value="8월">8</option>
                        <option value="9월">9</option>
                        <option value="10월">10</option>
                        <option value="11월">11</option>
                        <option value="12월">12</option>
                    </select><br>

                    <label for="deadline-days">일 </label>
                    <select name="deadline-days" id="deadline-days">
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <br>

                    <label for="deadline-hours">시 </label><input type="number" id="deadline-hours" required>
                    <p></p>
                    <label for="deadline-minutes">분 </label><input type="number" id="deadline-minutes" required>

                    <p></p>
                    <input type="submit" id="submit" value="알람 설정">
                </form>
                <div class="container">
                    <button class="btn btn-primary float-right" type="button" style="float:right" onclick="location.href='/kw/'">뒤로가기</button><br>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="{% static 'scripts/alarm.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
</html>